__pycache__/
nohup.out
# Ignore token file in this repository - should only be put in private repository for heroku host
.env
src/.env
# no need for poetry crap in public repo
poetry.lock
pyproject.toml
pyproject.tmp
# dont bring in tests.py , setup.py and sh crap
*.sh
setup.py
tests.py
# dont bring in backups
bak/
src/logs/music.log
