__pycache__/
nohup.out
# Ignore token file in this repository - should only be put in private repository for heroku host
.env
# no need for poetry crap in public repo
poetry.lock
pyproject.toml
pyproject.tmp
