requests
termcolor
aiofile
jishaku
asyncinit
discord.py
discord.py[voice]
discord-py-slash-command
google-api-python-client
google-auth
google-auth-httplib2
oauth2client
pynacl
youtube_dl
asyncio
praw
aiohttp
random2
simpleeval
flask
Flask-Discord
quart
Quart-OAuth2-Discord.py
quart-session
aioredis
timedelta
datetime
wikipedia
Pillow
slashify
python-dotenv
wavelink
discord-ext-menus
pandas
numpy
matplotlib
lxml
html5lib
humanize
